{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center mt-4">
            <h1>Location List</h1>
        </div>
        <div class="row mt-5 mb-4">
            {% for location in locations %}
                <div class="col-md-6 col-lg-3 mb-3">
                    <a href="{{ path('app_location_detail', {'id': location.id}) }}">
                        <div class="card" style="width: 18rem;">
                            <img src="https://picsum.photos/600/400?random={{ loop.index }}" class="card-img-top" alt="{{ location.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ location.title }}</h5>
                                <div class="card-text">
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
